$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;

.pagination{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;    
}
.pag__pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px; 
}