$black: #1D1F22;
$green: #5ECE7B;
$grey: #888888;

.main__search {
}
.search {
    display: flex;
    flex-direction: column;    
}
.search__header {
}
.search__title {
    font-size: 42px;
    font-weight: 400;
    line-height: 1.6;
    padding: 10px 0px;
}
.search__body {

}
.search__query {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
    em{
        font-weight: 600;
    }
    padding: 0px 0px 10px;
    margin-bottom: 20px;
}
.search__result {
    display: flex;
    flex-direction: column;
}

.search__notification {
    align-self: center;
    padding: 20px;
    text-align: center;
}
.search__icon {
    font-size: 70px;
    color: $grey;
    padding: 10px;
    margin-bottom: 20px;
}
.search__message {
    font-size: 18px;
    color: $grey;
}