$black: #1D1F22;
$green: #5ECE7B;

.main__promo {
    margin-bottom: 40px;
}
.promo {
}
.promo__title {
    padding: 24px 0px;
    font-size: 42px;
    line-height: 1.6;
    font-weight: 400;
}
.promo__content {
}

/* PROMO SLIDER */
.promo__items {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.promo_products {
    column-gap: 24px;
}



