$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;

.footer {   
    width: 100%;
    height: 96px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.footer__logo {
    display: block;
    margin-right: 20px;
    transition: all .1s ease;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}
.footer__menu{
    flex: 1 1 auto;
    max-width: 300px;
}
.footer__menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    row-gap: 64px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1.2;
    text-transform: uppercase;
}
.footer__menu_item {  
    cursor: pointer;  
    &:hover{
        color: $green;
    }
}
.footer__slideup {
    margin-left: 20px;
}
.slideup {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    &:hover{
        .slideup__text {
            color: $black;
        }
        .slideup__button {
            border: 1px solid $black;
        }
    }
}
.slideup__text {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.5);
}
.slideup__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.ic_angle-up {
}