$black: #1D1F22;
$lightgreen: #5ece7cd3;
$green: #5ECE7B;
$darkgreen: #295233;
$grey: #EEEEEE;


/*---- CART ----*/
.header__option-cart{
    position: static;
}
.header__button-cart {
}
.ic_empty_cart {
}
.header__cart{
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;    
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    width: 100%;
    opacity: 0;    
    visibility: hidden;
    overflow: hidden;
    transition: all .5s ease;    
    &.show{
        opacity: 1;
        visibility: visible;
        .header__cart_window{
            -webkit-animation: cart_window_show .5s ease forwards;
                    animation: cart_window_show .5s ease forwards;
        }
        .main{
            overflow: hidden;
        }
    }
    &.hide{
        opacity: 0;
        visibility: hidden;
        .header__cart_window{
            -webkit-animation: cart_window_hide .5s ease forwards;
                    animation: cart_window_hide .5s ease forwards;
        }
    }
}
.header__cart_window{
    position: absolute;
    top: -10px;
    left: 60%;
    width: 325px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);    
}

@keyframes cart_window_show {
    0%{
        opacity: 0;
        transform-origin: 0% 0%;   
        transform: translate(20%, -5%);
    }
    100%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@keyframes cart_window_hide {    
    0%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 0;
        transform: translate(20%, -5%);
    }
}
.hcart {
    font-size: 16px;    
    line-height: 160%;
    padding: 16px;
}
.hcart__title {
    margin: 16px 0px;
    font-weight: 700;
    font-size: 16px;
    & span{
        font-weight: 500;
    }
}
.hcart__items {
    margin: 16px 0px 32px 0px;
}
.header__cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.header__cart_total-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.header__cart_total-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}
.header__cart-buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
}
.header__cart-button {
    width: 140px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
}
.header__cart-button[id="view"]{
    background-color: #FFFFFF;
    border: 1px solid $black;
    color: $black;
    box-shadow: 2px 2px 5px rgb(136, 136, 136);
    transition: all .2s ease;
    &:hover{
        background-color: $black;
        color: #FFFFFF;
        transform: translate(-1px, -3px);
        box-shadow: 5px 5px 10px rgb(136, 136, 136);
    }
}
.header__cart-button[id="check"]{
    color: $darkgreen;
    background-color: $green;
    border: 1px solid $darkgreen;    
    box-shadow: 2px 2px 5px rgb(136, 136, 136);
    transition: all .2s ease;
    &:hover{
        background-color: $green;
        border: none;
        color: #FFFFFF;
        border: 1px solid $darkgreen;  
        transform: translate(-1px, -3px);
        box-shadow: 5px 5px 10px rgb(136, 136, 136);
    }
}