$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;

.cat__products {
    padding: 10px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 30px;
}
.cat__product {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 1 25%;
    padding: 16px;
    font-size: 18px;
    line-height: 1.6;
    color: $black;
    cursor: pointer;
    transition: all .2s ease;
    &:hover{
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 1);
        .cat__product_addtocart{
            opacity: 1;
            visibility: visible;
        }
        .cat__product_image img{
            transform: scale(1.1);
        }
    }  
}
@media (max-width: 1200px) {
    .cat__product{
        flex-basis: 33.333%;
    }
}
@media (max-width: 992px) {
    .cat__product{
        flex-basis: 50%;
    }
}
@media (max-width: 768px) {
    .cat__product{
        flex-basis: 100%;
    }
}
@media (max-width: 575px) {
    .cat__product{
        flex-basis: 100%;
    }
}
.cat__product_image {
    align-self: center;
    width: 100%;
    height: 260px;
    overflow: hidden;
    margin-bottom: 16px; 
    position: relative;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;          
        transition: all .2s ease;
    }     
}
.cat__product_addtocart{
    position: absolute;
    right: 30px;
    top: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: $green;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    &:hover{
        transform: scale(1.2);
    }
}
.cat__product_title {
    max-width: 100%;
    word-wrap: break-word;
    font-weight: 500;
    min-height: calc(18px * 2 * 1.6);
}
.cat__product_price {
    
    font-weight: 700;
}