$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;

.cat__products {
    padding: 10px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 30px;
}
