@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('../fonts/cloth_shop-v1.0/style.css');

:root{
    --black: #1D1F22;
}


body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: var(--black);
    background-color: #FFFFFF;
}


/* ---------------CONTAINER-------------------- */
[class*="__container"] {
    width: min(100% - 30px, 1200px);
    margin: 0 auto;
    padding: 10px 15px;
}
