@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}


/* ---------------CONTAINER-------------------- */
[class*="__container"] {
    width: min(100% - 30px, 1240px);
    margin: 0 auto;
    padding: 10px 15px;
}
