@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url('../fonts/cloth_shop-v1.0/style.css');

:root{
    --black: #1D1F22;
}


body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: var(--black);
    /* background-color: #949494; */
}


/* ---------------CONTAINER-------------------- */
[class*="__container"] {
    width: min(100% - 30px, 1200px);
    margin: 0 auto;
}
