$black: #1D1F22;
$lightgreen: #5ece7cd3;
$green: #5ECE7B;
$darkgreen: #295233;
$grey: #EEEEEE;

.hcart__item {
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
    &:last-child{
        margin-bottom: 0px;
    }
    position: relative;
}
.hcart__item_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin: 0px 4px 0px 0px;
}
.hcart__item_title {
    font-weight: 300;
}
.hcart__item_subtitle {
    font-weight: 300;
    margin-bottom: 4px;
}
.hcart__item_cost {
    font-weight: 500;
    margin: 0px 0px 8px 0px;
}
.hcart__item_size {
    margin: 0px 0px 8px;
}
.hcart__item_size-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 8px;
}
.hcart__item_size-picker {
    margin: 4px 0px;
}
.hcart__item_size-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
}
.cart_item__size-select__option {
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    &:hover{
        cursor: pointer;
        background-color: $black;
        color: #FFFFFF;
    }
    &.selected{
        background-color: $black;
        color: #FFFFFF;
    }
}
.hcart__item_color {
}
.hcart__item_color-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 8px;
}
.hcart__item_color-picker {
}
.hcart__item_color-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
}
.cart_item__color-select__option {
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;    
    &:hover{
        outline: $green solid 1px;
    }
    &.selected{
        outline: $green solid 1px;
    }
}
[data-color="#D3D2D5"]{
    background-color: #D3D2D5;
}
[data-color="#2B2B2B"]{
    background-color: #2B2B2B;
}
[data-color="#0F6450"]{
    background-color: #0F6450;
}
[data-color="#1D1F22"]{
    background-color: #1D1F22;
}
[data-color="#15A4C3"]{
    background-color: #15A4C3;
}
[data-color="#EA8120"]{
    background-color: #EA8120;
}
.hcart__item_counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    margin: 0px 8px 0px 0px;
}
.hcart__item_counter__option {
    width: 24px;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
    border: 1px solid $black;
    &:hover{
        cursor: pointer;
        background-color: $black;
        color: #FFFFFF;
    }
}
.hcart__item_counter__count {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.hcart__item_image {
    flex: 1 1 auto;    
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.hcart__item_image[data-product="d"]{
    background: url("../../../../../images/products/d.svg") 0 0/cover no-repeat;
}
.hcart__item_image[data-product="s"]{
    background: url("../../../../../images/products/s.svg") 0 0/cover no-repeat;
}

.hcart__item_delete{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid $black;
    &:hover{
        cursor: pointer;
        background-color: $black;
        color: #FFFFFF;
    }
}