$black: #1D1F22;
$lightgreen: #5ece7cd3;
$green: #5ECE7B;
$darkgreen: #295233;
$grey: #EEEEEE;

.hcart__item {
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
    &:last-child{
        margin-bottom: 0px;
    }
    position: relative;
}
.hcart__item_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin: 0px 4px 0px 0px;
}
.hcart__item_title {
    font-weight: 300;
}
.hcart__item_subtitle {
    font-weight: 300;
    margin-bottom: 4px;
}
.hcart__item_cost {
    font-weight: 500;
    margin: 0px 0px 8px 0px;
}

.hcart__item_counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    margin: 0px 8px 0px 0px;
}
.hcart__item_counter__option {
    width: 24px;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
    border: 1px solid $black;
    &:hover{
        cursor: pointer;
        background-color: $black;
        color: #FFFFFF;
    }
}
.hcart__item_counter__count {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.hcart__item_image {
    flex: 1 1 auto;    
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.hcart__item_image[data-product="d"]{
    background: url("../../../../../images/products/d.svg") 0 0/cover no-repeat;
}
.hcart__item_image[data-product="s"]{
    background: url("../../../../../images/products/s.svg") 0 0/cover no-repeat;
}

.hcart__item_delete{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid $black;
    &:hover{
        cursor: pointer;
        background-color: $black;
        color: #FFFFFF;
    }
}