$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;

/*---- HEADER ----*/
.header {
    position: absolute;
    z-index: 15;
    height: 80px;
    max-width: 100%;
    padding: 0 calc(50% - 600px);
    background-color: #fff;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
}

/*---- LOGO ----*/
.header__logo {
    margin: 0px 50px 0px 0px;
    flex: 0 0 auto;
    transition: all .1s ease;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}


.header__center{
    flex: 1 1 296px;
    width: 296px;
}


/*---- OPTIONS ----*/
.header__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 20px;
        column-gap: 20px;
    font-size: 24px;   
    padding: 10px;
    margin-right: 20px;
}
