$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;

/*---- HEADER ----*/
.header {
    position: relative;
    z-index: 20;
    height: 80px;  
      
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*---- LOGO ----*/
.header__logo {
    margin: 0px 50px 0px 0px;
    flex: 0 0 auto;
    transition: all .1s ease;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}


.header__center{
    flex: 1 1 auto;
}


/*---- BUTTONS ----*/
.header__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 20px;
        column-gap: 20px;
    font-size: 24px;   
    padding: 10px;
    margin-right: 20px;
}
[class*="header__option-"]{
    position: relative;
    &:hover{
        cursor: pointer;
        [class*="header__list-"] {
            pointer-events: all;
            opacity: 1;
            transform: scaleY(1);
        }
    }
}
[class*="header__button-"]{    
    position: relative;
    &:hover{
        cursor: pointer;
        color: $green;
    }    
}
[class*="header__button-"].expand{
    margin-right: 15px;
    .ic_angle-down{
        font-size: 14px;
        position: absolute;
        right: -15px;
        top: 20%;
        transition: all .2s ease;
    }
}
[class*="header__list-"] {
    pointer-events: none;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 0%;
    transition: opacity .1s ease, transform .2s ease-out;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: -50%;
    background-color: #FFFFFF;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .5);
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    ul li{
        display: inline-flex;      
        align-items: center;
        justify-content: space-around;
        width: max-content;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        -moz-column-gap: 10px;
        column-gap: 10px;
        padding: 8px 16px;
        &:hover{
            cursor: pointer;
            pointer-events: all;
            background-color: $grey;
            // box-shadow: inset -2px -2px 5px white, inset 2px 2px 5px black;
        }
    }
    ul li span{
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid $black;
        border-radius: 50%;
    }
}








