$black: #1D1F22;
$green: #5ECE7B;

.hcart__item_option:not(:last-child) {
    margin: 0px 0px 8px;
}
.hcart__item_option-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 8px;
}
.hcart__item_option-picker {
    margin: 4px 0px;
}
.hcart__item_option-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 8px;
}
.hcart_item__size-select__option {
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    transition: all .2s ease;
    &:hover{
        cursor: pointer;
        background-color: $black;
        color: #FFFFFF;
    }
    &.selected{
        background-color: $black;
        color: #FFFFFF;
    }
}
.hcart_item__color-select__option {
    width: 20px;
    height: 20px;
    border: 1px solid $black;    
    &:hover{
        outline: $green solid 2px;
    }
    &.selected{
        outline: $green solid 2px;
    }
}