$black: #1D1F22;
$green: #5ECE7B;
$grey: #888888;

/*---- SEARCH ----*/
.header__search {
    position: relative;
    margin: 16px;
}    
.search__input {
    width: 280px;
    height: 32px;
    padding: 0px 70px 0px 16px;    
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $black;
    border-radius: 16px;    
    &:focus{
        border-color: $green;
        ~.search__button{
            color: $green;
            background-color: #fff;
            border: none;
            border-left: 1px solid $green;
            &:hover{
                color: #fff;
                background-color: $green;                
            }
        }
        ~.search__clear{            
            opacity: 1;           
        }
    }
}
.search__button{
    position: absolute;
    display: inline-flex;
    top: 1px;
    right: 1px;
    width: 40px;
    height: calc(100% - 2px);
    align-items: center;
    justify-content: center;
    border-radius: 0px 16px 16px 0px;
    color: #FFF;
    background-color: rgba(29, 31, 34, 0.8);
    border: 1px solid $black;
    &:hover{
        background-color: $black;
        cursor: pointer;
    }
}
.search__clear{
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 40px;
    font-weight: 500;
    transform: rotate(45deg);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
    &:hover{
        color: $black;
    }
}

.header__search-window {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 350px;
    min-height: 200px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 16px 10px 16px;
    background-color: #FFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    transition: all .5s ease;
    &.show{
        transform: translate(-50%, 0%);
        opacity: 1;
        visibility: visible;
    }
    &.hide{
        transform: translate(-50%, 10%);
        opacity: 0;
        visibility: hidden;
    }
}
.hswindow {
}
.hswindow__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}
.hswindow__item {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    padding: 5px 2px;
    max-width: 100%;
    gap: 5px;
    line-height: 1.6;
    color: $black;
    cursor: pointer;
    &:hover{
        background-color: $black;
        color: #FFF;
        .hsitem__category{
            color: #FFF;
        }
    }
}
.hsitem {
}
.hsitem__category {
    flex: 0 0 20%;
    text-transform: capitalize;
    font-weight: 400;
    color: #888888;
    text-align: center;
}
.hsitem__title {
    flex: 1 1 auto;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hsitem__price {
    flex: 0 0 20%;
    font-weight: 600;
}

.hswindow__hint {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.hswindow__icon{
    font-size: 42px;
    text-align: center;
    color: $grey;
}
.hswindow__fake_input{
    position: relative;
    font-size: 24px;
    text-align: center;
    padding: 5px 60px 5px 15px;
    border-radius: 15px;
    border: 1px solid $grey;
    color: $grey;
}
span {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 50%;
    transform: translate(0%, -50%);      
    font-size: 18px;
}
.ic_search {
}
.hswindow__message {
    font-size: 18px;
    text-align: center;
    padding: 0px 20px 20px;
    line-height: 1.6;
    color: $grey;
}