$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;


.main__category {
}
.cat {
}
.cat__header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.cat__title {
    display: block;
    flex: 1 1 auto;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.6;
    padding: 50px 0px 10px 0px;
}
.cat__filters {
    padding: 10px;
}
.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;    
}
.filter__count{
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px; 
    margin-right: 20px;  
    align-self: flex-end; 
}

