@font-face {
  font-family: 'cloth_shop';
  src:  url('fonts/cloth_shop.eot?8g5psr');
  src:  url('fonts/cloth_shop.eot?8g5psr#iefix') format('embedded-opentype'),
    url('fonts/cloth_shop.ttf?8g5psr') format('truetype'),
    url('fonts/cloth_shop.woff?8g5psr') format('woff'),
    url('fonts/cloth_shop.svg?8g5psr#cloth_shop') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cloth_shop' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_ua .path1:before {
  content: "\e902";
  color: rgb(0, 91, 187);
}
.ic_ua .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 213, 0);
}
.ic_empty_cart:before {
  content: "\e900";
}
.ic_search:before {
  content: "\e901";
}
.ic_trash:before {
  content: "\f014";
}
.ic_home:before {
  content: "\f015";
}
.ic_angle-left:before {
  content: "\f104";
}
.ic_angle-right:before {
  content: "\f105";
}
.ic_angle-up:before {
  content: "\f106";
}
.ic_angle-down:before {
  content: "\f107";
}
